/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
    background-color: #1c1c1c;
    color: white;
}

.header-size {
    font-size: 40px;
}

.content-offset {
    padding-top: 70px;
}
